/* ================================================================= */

body {
  color: $mainColor;
  line-height: 1;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: $bgBody;
}

.title {
  @include adaptiveValue(font-size, $pcSizeTitle, $mobSizeTitle);
  @include adaptiveValue(margin-top, 20, 10);
  @include adaptiveValue(margin-bottom, 80, 40);
  text-transform: uppercase;
  text-align: center;
  color: $mainColor;
}

/* ========================================================================== */