/* ================================================================= */

body {
  color: $mainColor;
  line-height: 1;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: $bgBody;
}

.title {
  @include adaptiveValue(font-size, $pcSizeTitle, $mobSizeTitle);
  @include adaptiveValue(margin-top, 20, 10);
  @include adaptiveValue(margin-bottom, 80, 40);
  text-transform: uppercase;
  text-align: center;
  color: $mainColor;
}

/* ========================================================================== */
.table-col {
  flex-direction: column;
}


.result {
  display: flex;
}

.btn__item {
  background-color: #FFFBF9;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.btn__item img {
  width: 40px;
  height: 40px;
}

.scale {
  transition: 0.5s;
}

.scale:hover {
  transform: scale(1.2);
}

.result__attempts {
  padding-left: 5px;
}