//блок таблицы
.table-wrapper {
    width: 100vh;
    flex-direction: column;
    padding: calc($index *0.4);
}

.table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6856f1e;
    border-width: rem(3) rem(4) rem(3) rem(5);
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    border: solid $mainColor;
    border-color: $mainColor;
}

.table {
    transform: rotate(-2deg);
    text-align: center;
    padding: calc($index *1.2);
    width: calc($index *26);
}

th {
    padding: calc($index *0.4);
    background-color: #d6856f2c;
    border-radius: rem(8);
    font-size: calc($index *1.1);
    font-weight: 400;
}

td {
    font-size: calc($index *0.8);
    padding: calc($index *0.4);
}