// Основной шрифт по умолчанию
$fontFamily: 'Rubik Spray Paint',
cursive;
$fontSize: rem(22); // где 18(px) - размер шрифта по умолчанию из макета
$fontWeight: 400;

$pcSizeTitle: 60; // Размер шрифта заголовка
$mobSizeTitle: 30; // Размер шрифта заголовка

// Цвета ==============================================================================================================================================================================================================================================================================

// Основные цвета
$mainColor: #7F615A; // Цвет шрифта по умолчанию
$brown: #58443f; // Цвет коричневый
$white: #d6d2cf; // Цвет белый
$orange: #d6856fd3; // Цвет оранжевый
$green: #5c755a8f; // Цвет зеленый
$light-green: rgba(107, 192, 107, 0.767); // Цвет светло-зеленый
$light-blue: rgba(72, 209, 205, 0.767); // Цвет голубой

// Фоновые цвета
$bgBody: #FFFBF9; // Главный цвет фона
$bgBody2: #d6d2cf; // Главный цвет фона
$bgStart: radial-gradient(circle, rgba(186, 170, 160, 0.303) 35%, rgba(33, 32, 32, 0.845) 100%),
url(./img/background.webp) no-repeat center / cover;

// Дополнительные цвета
$dark-gray: #363636; // Цвет темно-серый
$quartz: #a0978b; // Цвет кварцевый
$silver-gray: #809390; // Цвет серебристо-серый
$light-brown: #7c685d; // Цвет светло-коричневый